@{
    ViewBag.Title = "Login";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>रेशीमगाठी मराठा वधु-वर सुचक केंद्र</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Wedding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    @Styles.Render("~/Base/css")
    @Styles.Render("~/Twitter/CSS")
    @Scripts.Render("~/Base/js")
    @Scripts.Render("~/Facebook/JS")
    @Scripts.Render("~/Twitter/JS")
    @Scripts.Render("~/Gmail/JS")
    <script type="text/javascript" src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
<!--header
    -->
	<div class="header head-top">
		<div class="container">
			@Html.Partial("_MainMenu")
			</div>
	</div>
	<!--header-->
    <div class="container">
        <div class="col-6 col-md-6">
            <form class="form-signin" style="width: 100%;max-width: 420px;padding: 15px;margin: auto;">
                <div class="text-center mb-4">
                    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Sign-in</h1>
                </div>
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                </div>
                <br />
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button  onclick="alert('Login feature is coming soon...');" class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #0062cc;">Sign in</button>
            </form>
            </div>
        <div class="col-6 col-md-6">
            <form class="form-signin" style="width: 100%;max-width: 420px;padding: 15px;margin: auto;">
                <div class="text-center mb-4">
                    <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Sign-Up</h1>
                </div>

                <div class="form-label-group">
                    <div class="Facebook-login">
                        <div id="fb-root"></div>
                        <!-- Display login status -->
                        <div id="status"></div>
                        <!-- Facebook login or logout button -->
                        <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                        <!-- Display user profile data -->
                        <div id="userData"></div>
                    </div>
                </div>
                <br />
                <div class="form-label-group">
                    <div class="Twitter-login" style="width: 236px;">
                        <a id="twitter-button" class="btn btn-block btn-social btn-twitter" style="height: 40px;">
                            <i class="fa fa-twitter"></i> Sign in with Twitter
                        </a>
                    </div>
                </div>
                <br />
                <div class="form-label-group">
                    <div class="Gmail-login">
                        <div id="my-signin2"></div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    <!-- footer starts -->
    @Html.Partial("_Footer")
    <!-- footer Ends -->
</body>
</html>